.products-main-container {
	display: grid;
	grid-template-columns: 12fr 1fr;
}
.btn-details {
	background-color: #f36823;
	border: none;
}
.btn-details:hover {
	background: linear-gradient(#f36823, #e5df91);
}
#searchArea {
	background-color: black;
	height: 80px;
}
.searchInput {
	justify-content: center;
	text-align: left;
	width: 340px;
	margin-top: 20px;
	height: 40px;
}
