.product {
	display: flex;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	margin-right: 6px;
}
.prodect-item {
	margin-bottom: 3px;
}
.product-name {
	color: blue;
	font-weight: 500;
}
.p-price {
	font-size: 18px;
}

.btn-add-to-cart,
.btn-remove {
	background-color: goldenrod;
	width: 200px;
	color: black;
	padding: 5px;
	border: 0.5px solid gray;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 5px;
}

.margin-left {
	text-align: left;
}
.ratting-feature {
	margin-left: 50px;
	line-height: 25px;
}

.icon-color {
	color: gold;
}

.customer-reaview {
	text-align: left;
}
