.bg {
	background-color: #fbf1f0;
}
.serach {
	font-size: larger;
	cursor: pointer;
	margin-left: 85px;
	color: black;
}
@media only screen and (max-width: 688px) {
	.serach {
		margin-left: 50px;
	}
}
