input[type="radio"] {
	display: none;
}

.product-review-star {
	cursor: pointer;
	transition: color 200ms;
	margin-bottom: 20px;
}
.full-star {
	color: #ffc107;
}
.empty-star {
	color: #adb5bd;
}
.review-form {
	margin-left: 50px;
}
